<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<script src="../../js/vue.js" type="text/javascript"></script>
	</head>
	<body>
		<!-- 
			需求： 1.渲染购物车列表
				  2.每种商品的加一、减一操作
				  3.添加购物车的功能  难  判断 cartList里面有没有该条商品，（选做）
				  有这个商品，商品的数量加一，
				  没有商品，将该商品 push到cartList数组中
				  4.购物车中的商品删除
				  5.计算总价 计算属性来实现
		 -->
		<div id="app">
			<h3>商品</h3>
			<table border="1" cellspacing="0" cellpadding="5">
				<tr><th>商品名称</th><th>商品价格</th><th>商品数量</th><th>操作</th></tr>
				<tr v-for="(item,index) in list"><td>{{item.name}}</td>
					<td>{{item.price}}</td>
					<td><button @click="jianFun(item)">-</button>{{item.num}}
					<button @click="addFun(item)">+</button></td>
					<td><button @click="addcard(item)">加入购物车</button></td>
				</tr>
			</table>
			<h3>购物车</h3>
			<table border="1" cellspacing="0" cellpadding="5">
				<tr><th>商品名称</th><th>商品价格</th><th>商品数量</th><th>操作</th></tr>
				<tr v-for="(item,index) in list2"><td>{{item.name}}</td>
					<td>{{item.price}}</td>
					<td><button @click="jianFun(item)">-</button>{{item.num}}
					<button @click="addFun(item)">+</button></td>
					<td><button @click="remove(index)">移除购物车</button></td>
				</tr>
				<tr><td>商品总价</td><td colspan="3">{{sum}}</td></tr>
			</table>			
		</div>		
		<script type="text/javascript">
			var vm = new Vue({
				el:"#app",
				data:{
					list:[
						{"name":"iphone X","price":5000,"num":1},
						{"name":"三星手机","price":4040,"num":1},
						{"name":"小米","price":2000,"num":1},
						{"name":"oppo","price":1080,"num":1}
					],
					list2:[]
				},
				computed:{
					// 计算总价
					sum:function(){
						let total = 0; 
						this.list2.forEach(item =>{
							total += item.price * item.num;							
						})
						return total;
					}
				},
				methods:{
					// 数量加一
					addFun:function(item){
						console.log(this)
						return item.num++;
					},
					// 数量减一
					jianFun:function(item){
						if(item.num>1){
							return item.num--;
						}						
					},				
					// 添加购物车
					addcard:function(item){
						let count = 0;
						this.list2.filter((item2)=>{	
							if(item2.name == item.name){
								count++;
								item2.num += item.num;
							}
						})
						if(count==0){
							this.list2.push(JSON.parse(JSON.stringify(item)));
						}
					},
					//移除购物车方法
					remove:function(index){
						this.list2.splice(index,1);
					}
				}
			})
		</script>
	</body>
</html>
